webinars/plantillas/Observatorium.json
{
  "name": "Observatorium",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        -112
      ],
      "id": "ae6a2b29-eb97-4281-9493-bebd4cea606e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "biomining"
            },
            {
              "name": "num",
              "value": "5"
            },
            {
              "name": "patents_date",
              "value": "2023-2025"
            },
            {
              "name": "start",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        -112
      ],
      "id": "aba30966-7d5d-4dd7-a230-50fdd152faea",
      "name": "HTTP Request",
      "credentials": {
        "serpApi": {
          "id": "s0lCXLT8PkD623xB",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ $json.search_parameters.num }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -128,
        -112
      ],
      "id": "659dd771-b694-49f9-bf9f-b3189cd18052",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        224,
        -96
      ],
      "id": "12902a7b-7fcc-4d0b-9eb4-bf6794ee33c9"
    },
    {
      "parameters": {
        "jsCode": "// Obtiene todos los items de entrada (en n8n, $input.all() devuelve array de {json: ...})\nconst inputItems = $input.all();\nif (inputItems.length === 0) {\n  return []; // Si no hay input, salida vacía\n}\n\n// Procesa el primer item (asumiendo una sola respuesta de SerpApi)\nconst data = inputItems[0].json;\n\n// Inicializa array de resultados limpios\nlet allResults = [];\n\n// 1. PROCESA KNOWLEDGE_GRAPH (título principal y descripción como resultado clave)\nif (data.knowledge_graph) {\n  const kg = data.knowledge_graph;\n  const kgTitle = (kg.title || '').trim();\n  const kgSummary = (kg.description || '').trim();\n  const kgDate = null; // No hay fecha en knowledge_graph\n\n  if (kgTitle) {\n    allResults.push({\n      title: kgTitle.replace(/\\s+/g, ' ').trim(), // Limpieza básica\n      summary: kgSummary.substring(0, 500).replace(/\\s+/g, ' ').replace(/[\\r\\n\\t]/g, ' ').trim(), // Limita a 500 chars\n      date: kgDate,\n      source: 'knowledge_graph',\n      link: kg.knowledge_graph_search_link || kg.source?.link || null\n    });\n  }\n}\n\n// 2. PROCESA ORGANIC_RESULTS (resultados orgánicos principales: títulos, snippets como summaries)\nif (data.organic_results && Array.isArray(data.organic_results)) {\n  data.organic_results.forEach(result => {\n    const title = (result.title || '').trim();\n    const summary = (result.snippet || '').trim();\n    const date = result.date || null; // Formato como \"Sep 10, 2025\" o null\n    const link = result.link || null;\n\n    if (title && summary) { // Solo si tiene título y summary\n      allResults.push({\n        title: title.replace(/\\s+/g, ' ').trim(),\n        summary: summary.substring(0, 500).replace(/\\s+/g, ' ').replace(/[\\r\\n\\t]/g, ' ').trim(),\n        date: date,\n        source: 'organic_result',\n        link: link\n      });\n    }\n  });\n}\n\n// 3. PROCESA INLINE_VIDEOS (videos relevantes como resultados suplementarios)\nif (data.inline_videos && Array.isArray(data.inline_videos)) {\n  data.inline_videos.forEach(video => {\n    const title = (video.title || '').trim();\n    const summary = `Video description: ${video.channel} - Duration: ${video.duration}`.trim(); // Usa channel y duration como proxy\n    const date = null; // No hay fecha en inline_videos\n    const link = video.link || null;\n\n    if (title) {\n      allResults.push({\n        title: title.replace(/\\s+/g, ' ').trim(),\n        summary: summary.substring(0, 500).replace(/\\s+/g, ' ').replace(/[\\r\\n\\t]/g, ' ').trim(),\n        date: date,\n        source: 'inline_video',\n        link: link\n      });\n    }\n  });\n}\n\n// 4. FILTRO DE DUPLICADOS: Usa hash por título normalizado (case-insensitive)\nconst seen = new Set();\nconst uniqueResults = [];\nallResults.forEach(item => {\n  const normalizedTitle = item.title.toLowerCase().trim();\n  if (!seen.has(normalizedTitle) && normalizedTitle) {\n    seen.add(normalizedTitle);\n    uniqueResults.push(item);\n  }\n});\n\n// 5. SALIDA EN FORMATO n8n: Array de { json: { ... } }\nreturn uniqueResults.map(result => ({ json: result }));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -256
      ],
      "id": "16b2a8ee-5bf3-4546-9707-734ed041c37d",
      "name": "Data cleaning",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza la siguiente publicación. Devuelve un JSON con estos campos:\n{\n  \"novedad\": \"baja/media/alta\",\n  \"razonamiento\": \"\",\n  \"tendencias_detectadas\": [],\n  \"sector_relevante\": \"\",\n  \"impacto_potencial\": \"bajo/medio/alto\"\n}\n\nCriterios para 'novedad': Alta si es disruptiva o poco divulgada. Media si mejora aplicaciones existentes. Baja si sólo consolida conocimiento. \nDetecta tendencias emergentes en biotecnología sostenible y minería limpia.\n\nDatos de entrada:\nTítulo: {{ $json.title }}\nResumen: {{ $json.summary }}\nFecha: {{ $json.date }}\nFuente: {{ $json.source }}\nLink: {{ $json.link }}\n",
        "hasOutputParser": true,
        "batching": {
          "batchSize": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        480,
        -256
      ],
      "id": "91a3c72a-0c4a-4171-8e9d-922a2a8fe18c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        32
      ],
      "id": "870fe35b-b67f-4aab-956d-8e884de74b21",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "myRf22pMBwRg1EyU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\"\n    },\n    \"summary\": {\n      \"type\": \"string\"\n    },\n    \"novedad\": { \n      \"type\": \"string\" \n    },\n    \"tendencias_detectadas\": { \n      \"type\": \"array\", \"items\": { \"type\": \"string\" } \n    },\n    \"date\": {\n      \"type\": [\"string\", \"null\"]\n    },\n    \"source\": {\n      \"type\": \"string\",\n      \"enum\": [\"knowledge_graph\", \"organic_result\", \"inline_video\"]\n    },\n    \"link\": {\n      \"type\": \"string\",\n      \"format\": \"uri\"\n    }\n  },\n  \"required\": [\"title\", \"summary\", \"date\",\"novedad\", \"tendencias_detectadas\",\"link\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        624,
        -48
      ],
      "id": "7e8b59ef-58f9-43ba-af69-e446050e38bd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Se asume que input es un array de { output: { ...campos... } }\nconst items = $input.all();\n\nreturn items.map((item, index) => {\n  const data = item.json.output || {};\n  return {\n    json: {\n      title: data.title || `Item ${index + 1}`,\n      summary: data.summary || '',\n      novedad: data.novedad || '',\n      tendencias: Array.isArray(data.tendencias_detectadas) ? data.tendencias_detectadas.join(', ') : (data.tendencias_detectadas || ''),\n      date: data.date || '',  // Deja en blanco si null\n      source: data.source || '',\n      link: data.link || ''\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -256
      ],
      "id": "22253ed9-8c02-4551-ad89-c9cc82e7d970",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AdXjJoTfC07Ea4B_cnVWBjCgJdw9RKGa4SiIJWHkNuU",
          "mode": "list",
          "cachedResultName": "RBiomining",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AdXjJoTfC07Ea4B_cnVWBjCgJdw9RKGa4SiIJWHkNuU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AdXjJoTfC07Ea4B_cnVWBjCgJdw9RKGa4SiIJWHkNuU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tittle": "={{ $json.title }}",
            "summary": "={{ $json.summary }}",
            "novedad": "={{ $json.novedad }}",
            "tendencias": "={{ $json.tendencias }}",
            "date": "={{ $json.date }}",
            "link": "={{ $json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tittle",
              "displayName": "tittle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "novedad",
              "displayName": "novedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tendencias",
              "displayName": "tendencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -256
      ],
      "id": "180e3b7b-7b23-4773-98a9-d7e7fe318708",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "juK0SCkANZdEdVMJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "9f082ff1-5730-45b6-a69a-2a68985b77ae",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "david.chaupis.m@gmail.com",
        "subject": "Ahora si!",
        "message": "=Data lista:\nhttps://docs.google.com/spreadsheets/d/1AdXjJoTfC07Ea4B_cnVWBjCgJdw9RKGa4SiIJWHkNuU/edit?usp=drive_link ",
        "options": {
          "ccList": "kathybaldemar@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        0
      ],
      "id": "06d375b6-5d3f-4ffc-90fd-c99fb4e02e70",
      "name": "Send a message",
      "webhookId": "574c36af-4051-4696-9314-37f3ae2940ac",
      "credentials": {
        "gmailOAuth2": {
          "id": "jHK8QncoGlvvy9PK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Vigilancia tecnológica automatizada (IA + N8N)\n**Double click** Explora los nuevos flujos de procesamiento para sistematizar la búsqueda información técnica de patentes y artículos científicos y analizar con agentes IAs el nivel de novedad y tendencias tecnológicas.\n\n[Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 608,
        "width": 2000
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -448
      ],
      "typeVersion": 1,
      "id": "858d238f-3b1e-4667-917a-f8e364ab6bdf",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Data cleaning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data cleaning": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "rMc66yENJeXF2LnN"
  },
  "versionId": "f997ff58-43dd-43d5-b7ed-0959f4b5117c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf1804fb36a7268b7e69cb54d01dad82920a40d84d91b5944058aa18647ac11f"
  },
  "id": "rMc66yENJeXF2LnN",
  "tags": []
}